
.react-select__control {
    background-color: #202020 !important;
    border: none !important;
}

.react-select__value-container {
    background-color: #202020 !important;
    border: none !important;
}

.react-select__indicators {
    background-color: #202020 !important;
    border: none;
}

.react-select__menu {
    background-color: #202020 !important;
}

.react-select__menu-list {
    background-color: #202020 !important;
    border-radius: 10px !important;
    border: none !important;

}

.react-select__option {
    background-color: #202020 !important;
    font-size: 14px !important;
}

.react-select__indicator {
    background-color: #202020 !important;
    border: none !important;
}

.react-select__indicator-separator {
    display: none !important;
}

.react-select__placeholder {
    color: gray !important;
    font-size: 13px;
}

.react-select__multi-value {
    background-color: #303030 !important;
}

.react-select__single-value {
    font-size: 13px !important;
}